# Starter pipeline
#

trigger:
  branches:
    include:
      - develop
      - feature/*
      - release/*
      - bugfix/*
      - mission

pool:
  name: python

variables:
  - group: global-dip
  - name: harborAddr
    value: acr.aishu.cn
  - name: imageTag
    value: $(Build.SourceBranchName)-$(Build.BuildNumber)
  - name: projectName
    value: dip
  - name: serviceName
    value: sandbox-runtime
  - name: branchNameLower
    value: $[lower(variables['Build.SourceBranchName'])]
  - name: actualBranch
    value: $[replace(variables['Build.SourceBranch'], 'refs/heads/', '')]
  - name: actualBranchLower
    value: $[lower(variables['actualBranch'])]
  - name: PYPI_URL
    value: https://repohub.aishu.cn/repository/pip-internal/
  - group: repohub-config
  - name: Pool
    value: af-agent-pool
  - name: harborUrl
    value: 'acr.aishu.cn/dip'

jobs:
  - job: Build_Chart
    displayName: Build-Chart
    workspace:
      clean: all
    steps:
      - checkout: self
        fetchDepth: 1
      - script: |
          set -ex
          chartVersion=$(branchNameLower)
          if [[ $(actualBranchLower) == 'mission' ]] || [[ $(actualBranchLower) == 'develop' ]] || [[ $(actualBranchLower) == 'main' ]]  || [[ $(actualBranchLower) == feature/* ]] || [[ $(actualBranchLower) == bugfix/* ]]
          then
            chartVersion=5.0.0-$(branchNameLower)
          fi
          ls -l
          sed -i "s/appVersion: .*/appVersion: ${chartVersion}/g" ./$(serviceName)/helm/$(serviceName)/Chart.yaml
          sed -i "s/version: .*/version: ${chartVersion}/g" ./$(serviceName)/helm/$(serviceName)/Chart.yaml
          sed -i "s/tag: .*/tag: $(branchNameLower)/g" ./$(serviceName)/helm/$(serviceName)/values.yaml
          chartrepo="https://$(harborAddr)/api/chartrepo/$(projectName)/charts"
          docker run --rm -v $(Build.SourcesDirectory):/apps -v ~/.kube:/root/.kube -v ~/.helm:/root/.helm $(harborAddr)/public/alpine-helm-2.16.6:universal package ./$(serviceName)/helm/$(serviceName) || echo
          chartfilename=`ls | grep tgz`
          curl -v -s -u $(registry.username):$(registry.password) -H 'Content-Type:multipart/form-data' -F "chart=@$chartfilename" -X POST $chartrepo

  - job: Build_Docker_Image
    displayName: Build_Docker_Image
    timeoutInMinutes: 1000
    workspace:
      clean: all
    steps:
      - task: Docker@2
        displayName: Login To Harbor
        inputs:
          containerRegistry: $(harborAddr)
          command: "login"

      - bash: |
          set -e
          imageUri=$(harborAddr)/$(projectName)/$(serviceName):$(branchNameLower)

          echo "Building Docker images for $(serviceName)"
          echo "Base image URI: ${imageUri}"

          cd $(serviceName)
          
          echo "Building AMD64 image..."
          docker buildx build -t ${imageUri}_amd64 -f ./Dockerfile --platform=linux/amd64 . -o type=docker
          echo "AMD64 image built: ${imageUri}_amd64"

          echo "Building ARM64 image..."
          docker buildx build -t ${imageUri}_arm64 -f ./Dockerfile --platform=linux/arm64 . -o type=docker
          echo "ARM64 image built: ${imageUri}_arm64"

          echo "Tagging images with build number..."
          docker tag ${imageUri}_amd64 ${imageUri}_amd64-$(Build.BuildNumber)
          docker tag ${imageUri}_arm64 ${imageUri}_arm64-$(Build.BuildNumber)
          echo "Tagged images: ${imageUri}_amd64-$(Build.BuildNumber), ${imageUri}_arm64-$(Build.BuildNumber)"

          echo "Pushing images to registry..."
          docker push ${imageUri}_amd64
          echo "Pushed: ${imageUri}_amd64"

          docker push ${imageUri}_amd64-$(Build.BuildNumber)
          echo "Pushed: ${imageUri}_amd64-$(Build.BuildNumber)"

          docker push ${imageUri}_arm64
          echo "Pushed: ${imageUri}_arm64"

          docker push ${imageUri}_arm64-$(Build.BuildNumber)
          echo "Pushed: ${imageUri}_arm64-$(Build.BuildNumber)"

          echo "Cleaning up local images..."
          docker rmi ${imageUri}_amd64
          docker rmi ${imageUri}_amd64-$(Build.BuildNumber)
          docker rmi ${imageUri}_arm64
          docker rmi ${imageUri}_arm64-$(Build.BuildNumber)
          echo "Build and push completed successfully"
        displayName: Build Image and push to harbor

  - job: build_docker_manifest
    displayName: build-docker-manifest
    dependsOn: [ Build_Docker_Image ]
    pool:
      name: anydata-centos7.7-x86_64
    workspace:
      clean: all
    steps:
      - checkout: none
      - task: Docker@2
        displayName: Login In Image Registry
        inputs:
          containerRegistry: $(harborAddr)
          command: 'login'
      - script: |
          set -ex
          rm -rf /root/.docker/manifests/acr.aishu.cn_ad_$(serviceName)*
          manifestTag="$(harborUrl)/$(serviceName):$(branchNameLower)"
          docker manifest create ${manifestTag} ${manifestTag}_amd64 ${manifestTag}_arm64
          docker manifest push ${manifestTag}
          docker manifest create ${manifestTag}-$(Build.BuildNumber) ${manifestTag}_amd64-$(Build.BuildNumber) ${manifestTag}_arm64-$(Build.BuildNumber)
          docker manifest push ${manifestTag}-$(Build.BuildNumber)
      - script: |
          rm -rf $(Build.SourcesDirectory)
        displayName: Remove Source

  # - job: Build_Sandbox_Sdk
  #   displayName: Build_Sandbox_Sdk
  #   pool:
  #     name: ${{variables.Pool}}
  #   workspace:
  #     clean: all
  #   steps:
  #     - script: |
  #         set -ex
  #         source /root/.bashrc
  #         python3 -m pip config set global.index-url https://mirrors.aliyun.com/pypi/simple
  #         python3 -m pip install --upgrade pip
  #         python3 -m pip install --timeout=600 build wheel twine
  #       displayName: "Install tools"

  #     - script: |
  #         source /root/.bashrc
  #         python3 -m build -n
  #       displayName: "Build package"

  #     - script: |
  #         export TWINE_USERNAME="$(nname)"
  #         export TWINE_PASSWORD="$(npass)"
  #         source /root/.bashrc
  #         python3 -m twine upload --repository-url $(PYPI_URL) dist/*
  #       displayName: "Upload package"

  #     - script: |
  #         rm -r dist
  #       displayName: "clean package"  
