# Web Framework
fastapi==0.115.12
uvicorn==0.34.3
pydantic==2.11.5
pydantic_settings==2.12.0
paramiko==3.5.1

# Data Analysis
numpy==2.2.6
pandas[excel]==2.2.3
seaborn>=0.11.0
matplotlib>=3.4.0
scipy>=1.7.0

# Database
SQLAlchemy>=2.0
psycopg[binary]>=3.1
oracledb>=1.3.0
pymongo>=4.6.0
pymysql>=1.1.0  # MySQL adapter

# Utilities
python-multipart==0.0.20
pyyaml==6.0.2
requests==2.32.3
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
psutil==7.1.3
aiohttp==3.12.0
statsmodels==0.14.5
scikit-learn==1.7.0
# websocket_client==1.8.0
